%h1 Delta#home
%p Find me in app/views/delta/home.html.haml

%p
	This is another slightly more complex example of monkeypatching.

.code
	%p
		@value =
		= @value
	%p
		@string =
		= @string
	%p
		@string2 =
		= @string2
	%p
		@string3 =
		= @string3
	%p
		@string4 =
		= @string4
